.container{
    width: 100%;
    align-content: center;
    text-align: center;
}
.button{
    height: 50px;
    width: 200px;
    background-color: royalblue;
    text-align: center;
    justify-content: center;
    padding: 30px;
    border-radius: 30px ;
}